

@media (max-width: 768px) {
  /* @Sidar */
  #sidebar {
    width: 100%;
    float: none;
    position: static;
  }
  #sidebar ul {
    width: 100%;
  }
  #mainNav .dropdown .dropdownArrow {
    top: 15px;
  }
}

@media (min-width: 768px) {
  #sidebar {
    display: block;
  }
}