body {
  padding-top: 70px;
  padding-bottom: 30px;
  font: 13px/1.7em "Open Sans", "trebuchet ms", arial, sans-serif;
  
}

#datatablePersonasDirectory tbody tr:hover {
	cursor: pointer;
}


 .form-group .parsley-errors-list {
	position: relative;
	display: inline-block !important;
	padding: 2px 10px;
	margin: 0;
	margin-top:3px;
	list-style: none;
	color: #fff;
	font-size: 12px;
	font-weight: 600;
	background: #b94a48;
	-webkit-border-radius: 4px;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 4px;
	-moz-background-clip: padding;
	border-radius: 4px;
	background-clip: padding-box;
}


.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}



@media (max-width: 767px)
.table-responsive {
	border: 0px solid #fff;
}
